{:deps {io.github.nextjournal/clerk {:mvn/version "0.14.919"}}
 :paths ["src" "resources"]
 :aliases
 {:dev {:extra-paths ["dev"]}
  :nextjournal/clerk
  {:exec-fn nextjournal.clerk/build!
   :exec-args {:index "notebooks/blog.clj"}
   :extra-paths ["images"]}}}
